*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(header-image.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 380px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;  
}

.content{
    width: 100%;
    position: relative;
    margin-top: 4%;
    transform: translateY(-50%);
    color: #fefed6;
}

.content h1{
    margin-left: 1%;
    font-family: "Nexa";
    font-size: 50px;
    margin-top: 80px;
}

.film{
    width: fit-content;
    margin: 60px auto;
    display: flex;
}

.film img{
    width: 320px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0,0,0,1);
    transition: transform 1s, box-shadow 1s;
}

.info{
    width:1000px;
    padding: 10px 50px;  
    transform: translateX(0px);
    opacity: 1;
    color:#fefed6;
    transition: transform 1s, opacity 1s;
    word-wrap: break-word;
}

.info h1{
    font-size: 80px;
    font-weight: 500; 
    font-family: "Nexa";
}

.info p{
    margin-top: 2%;
    font-family: "Nexa";
    line-height: 26px;
}

.info button{
    width: 200px; 
    padding: 12px 40px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 15px;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.close-icon{
    width: 320px;
    cursor: pointer;
    position:relative;
    transition: transform 1s;
    opacity: 0;
}

.close-icon::before, .close-icon::after{
    content: '';
    height: 100%;
    width: 2px;
    background: #fefed6;
    position:absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
}

.close-icon::before{
    transform: rotate(30deg);
}

.close-icon::after{
    transform: rotate(-30deg);
}

.hide-details .info{
    transform: translateX(50px);
    opacity: 0;
}

.hide-details .close-icon{
    transform: translateX(-410px);
}

.hide-details img{
    transform: translateX(410px);
    box-shadow: 0 0 0 rgba(0,0,0,1)
}

.rating-info h1{
    color:#fefed6;
    font-family: "Nexa";
    margin-left: 6%;
}

.container{
    width: 400px;
    position: absolute;
    top: 0%;
    left: 50%;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.container .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

input#rate-1:checked ~ label{
    color: rgb(255, 119, 119);
    text-shadow: 0 0 20px rgb(153, 34, 34);
}

#rate-1:checked ~ form header:before{
    content: "I just hated it!";
}

#rate-2:checked ~ form header:before{
    content: "I didn't like it.";
}

#rate-3:checked ~ form header:before{
    content: "I's okay.";
}

#rate-4:checked ~ form header:before{
    content: "It was awesome!";
}

#rate-5:checked ~ form header:before{
    content: "I loved it!";
}
 
form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease;
}

form .btn{
    height: 45px;
    width: 100%;
    margin: 8px 0;
}

form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid#444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

form .btn button:hover{
    background: #1b1b1b;
}

.container form{
    display:none;
}

input:checked ~ form{
    display:block;
}

form .btn p{
    color:#fefed6;
    margin-top: 3px;
    visibility: hidden;
}

.info svg{
    margin-left: 25px;
}

.info svg:hover{
    color:#009688;
}

.comment-section{
    margin-top:10%;
}
.comment-box{
    width: min(90%,1140px);
    margin: 3rem auto;
}

.comment-section h1{
    color:#fefed6;
    font-family: "Nexa";
    margin-left: 6%;
}

.comment-container{
    position:relative;
    
}

.comment-container::before{
    content:"";
    background-color: rgb(107, 107, 107);
    position:absolute;
    min-height:100%;
    width: 1px;
    left: -10px;
}

.comment-card{
    padding: 20px;
    background-color: #111;
    border: 1px solid rgb(47, 47, 47);
    border-radius: .5rem;
    min-width: 100%;
    margin-top: 2%;

}

.date{
    font-family: "Nexa";
    font-size: 14px;
    color:#ffffff;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-left: 90%;
    
}

.comment-title{
    font-family: "Nexa";
    font-size: 22px;
    color:#fefed6;
    margin-top: 1rem;
    text-transform: uppercase;
}

.comment-card p{
    font-family: "Nexa-Light";
    color: white;
    font-size: 20px;
    border-color: #ffffff;
    background-color: #353535;
    padding: 20px;
    background-size: 2cm 2cm;
}

.add-comment{
    height: 150px;
    border: 1px solid rgb(47, 47, 47);
    display:flex;
    background-color: #111;
    border-radius: 10px;
    margin-bottom: 2%;
}

.add-comment .profile-pic{
    margin-top: 3%;
    margin-left: 4%;
}

.profile-pic img{
    width: 60px;
}

.add-comment .comment-input{
    margin:auto;
    width:70%;
    border: 1px solid #eaecf1;
    background-color: #353535;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 100px;
    padding: 15px 25px;
    position:relative;
    resize: none;
}

.add-comment .send-btn-container{
    margin-top: 4%;
    margin-right:4%;
    align-items: flex-start;
    display:flex;
    justify-content: space-between;
}

.add-comment .add-btn{
    background: #5457b6;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor:pointer;
    font-weight: 700;
    padding: 15px 30px;
    text-transform: uppercase;
}

.add-comment .add-btn:hover{
    background: #6e71c6;
}


.delete{
    background-color: #b60909;
    font-family: "Nexa";
    padding: .4rem 0;
    border-radius: 2rem;
    border: #999;
    text-align: center;
    color: white;
    width: 20%;
    margin-left: 80%;
    margin-top: 1rem;
}

.delete:hover{
    cursor: pointer;
    background-color:  #550505;
    font-family: "Nexa";
    text-align: center;
    
}