<html>
<head>
<link rel="stylesheet" href="film-stranica.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    <div class="rating-info">
        <h1>RATING AND REVIEWS</h1>
    </div>
    <div class="film hide-details" id="filmBox">
        <img src={{selectedFilm.picture_url}} (click)="openInfo()">
        <div class="info">
            <h1>{{selectedFilm.title}}</h1>
            <p>Summary: {{selectedFilm.summary}}</p>
            <p>Director: {{selectedFilm.director}}</p>
            <p>Main Actor: {{selectedFilm.main_actor}}</p>
            <p>Rating: {{service.rating}} </p>
            <p>Genre: Action, Comedy</p>
            <button type="button" (click)="openPopup()"><span></span>RATE</button>
            <button type="button" (click)="trailer()"><span></span>TRAILER</button>
        </div>
        <div class="close-icon" (click)="closeInfo()"></div>
    </div>

    <div class="container" id="popup">
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form action="#">
                <header></header>
                <div class="btn">
                    <button class="rate-btn" type="submit" (click)="closePopup()">Post</button>
                </div>
            </form>
        </div>
    </div>

    
</html>
