*{
    font-family: sans-serif;
}

.content{
    padding-left: 9%;
    width: 100%;
    position: relative;
    margin-top: 4%;
    transform: translateY(-50%);
    color: #fefed6;
}

.content h1{
    margin-left: 1%;
    font-family: "Nexa";
    font-size: 50px;
    margin-top: 80px;
}

.sort-content{
    color: #fefed6;
    font-size: 28px;
    font-family: "Nexa";
}

span{
    color:#fff;
    font-size: 25px;
    font-family: "Nexa";
    display:inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 30px;
    text-align: justify;
}

.title:hover span{
    font-size: 25px;
    color: #009688;
    cursor: pointer;
    font-family: "Nexa";
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;  
}

.film{
    width: fit-content;
    margin: 20px auto;
    display: flex;
}

.film img{
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0,0,0,1);
    transition: transform 1s, box-shadow 1s;
    transition: 0.2s ease-out;
}

.film img:hover{
    transition: 0.2s;
    width: 160px;
}

.film-list {
    position:relative;
    z-index: 0;
    margin-bottom: 3%;
}

.info{
    width:1100px;
    font-family: "Nexa";
    padding: 5px 50px;  
    transform: translateX(0px);
    opacity: 1;
    color:#fefed6;
    transition: transform 1s, opacity 1s;
    word-wrap: break-word;
    font-weight: bold;
}

.hide-details .info{
    transform: translateX(50px);
    opacity: 0;
}

.dropdown{
    margin-left: 10%;
    margin-right: -9%;
    display:inline-block;
    margin-bottom: 3%;
}

.dropdown ul{
    padding-left: 0%;
    margin-block-end: auto;
}

.dropdown ul li{
    list-style: none;
}

.dropdown-content {
    font-family: "Nexa";
    display: none;
    position: absolute;
    background-color:#fff2;
    backdrop-filter: blur(7px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition-delay: 0.2s;
}
  
.dropdown-content a {
    float:none;
    font-family: "Nexa";
    color: #fff;
    list-style: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: auto;
    cursor: pointer;
}
  
.dropdown-content a:hover {
    list-style: none;
    background-color: #009688;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown .dropbtn {
    border: none;
    border-radius: 5%;
    outline: none;
    color: white;
    text-transform: uppercase;
    background-color:rgb(59, 59, 59);
    font-family: "Nexa";
    padding: 14px 16px;
    margin: 0;
    
}

.dropdown .dropbtn.active{
    background-color: #009688;
}

.dropdown:hover .dropbtn {
    transition-delay: 0,2s;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.pagination{
    display: flex;
    justify-content: center;
    color: #fff;
}

.page-link {
    padding: 0.5rem 0.75rem;
    margin: 0 2px;
    background-color: #009688;
    border: 1px solid #009688;
    border-radius: 0.25rem;
    color: #009688;
    cursor: pointer;
  }
  
  .page-link.active {
    background-color: #009688;
    color: #fff;
    border-color: #009688;
  }
  
  .page-link:hover {
    background-color: #364e4e;
    border-color: #364e4e;
    color: #009688;
  }

