*{
    font-family: sans-serif;
}

.content{
    padding-left: 9%;
    width: 100%;
    position: relative;
    margin-top: 4%;
    transform: translateY(-50%);
    color: #fefed6;
}

.content h1{
    margin-left: 1%;
    font-family: "Nexa";
    font-size: 50px;
    margin-top: 80px;
}

.sort-content{
    color: #fefed6;
    font-size: 28px;
    font-family: "Nexa";
}

span{
    color:#fff;
    font-size: 25px;
    font-family: "Nexa";
    display:inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 30px;
    text-align: justify;
}

.title:hover span{
    font-size: 25px;
    color: #009688;
    cursor: pointer;
    font-family: "Nexa";
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;  
}

.film{
    width: fit-content;
    margin: 20px auto;
    display: flex;
}

.film img{
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0,0,0,1);
    transition: transform 1s, box-shadow 1s;
}

.film-list {
    position:relative;
    z-index: 0;
}

/*.film-list.-grid {
    flex-wrap:wrap;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 100px);
    height: 100%;
    margin-left: 330px;
    grid-gap: 20px;
    justify-content: space-evenly;
    vertical-align: top;
    align-content: center;
    display: inline-block;
}*/

/*.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-content:center;
    padding: 5px;
  }*/

/*.film-list.-grid.-constrained.-p150 {

    max-width: 692px;
}*/

/*.film-list.-grid.-constrained.-p150>.film, .film-list.-grid.-constrained.-p150>.film-container {
    margin: 0 0 20px 23px;
    width: 150px;
    display: block;
    padding-left: 10px;
    background-clip: padding-box;
    border-radius: 4px;
    display: inline-block;
    
    position: relative;
}*/

.info{
    width:1000px;
    padding: 5px 50px;  
    transform: translateX(0px);
    opacity: 1;
    color:#fefed6;
    transition: transform 1s, opacity 1s;
    word-wrap: break-word;
    font-weight: bold;
}

.hide-details .info{
    transform: translateX(50px);
    opacity: 0;
}