<html>
<head>
    <title>CineMark</title>
    <link rel="stylesheet" href="sort-by-stranica.component.css">

</head>

    <div class="content">
      <h1>SORT BY:</h1>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Genre</button>
        <div class="dropdown-content">
          <ul>
            <li><a (click) ="sortFilmByGenre(1)">Action</a></li>
            <li><a (click) ="sortFilmByGenre(2)">Romance</a></li>
            <li><a (click) ="sortFilmByGenre(3)">Drama</a></li>
            <li><a (click) ="sortFilmByGenre(4)">Historical</a></li>
            <li><a (click) ="sortFilmByGenre(5)">Adventure</a></li>
            <li><a (click) ="sortFilmByGenre(6)">War</a></li>
            <li><a (click) ="sortFilmByGenre(7)">Comedy</a></li>
            <li><a (click) ="sortFilmByGenre(8)">Fantasy</a></li>
            <li><a (click) ="sortFilmByGenre(9)">Horror</a></li>
            <li><a (click) ="sortFilmByGenre(10)">Sci-Fi</a></li>
            <li><a (click) ="sortFilmByGenre(11)">Mystery</a></li>
            <li><a (click) ="sortFilmByGenre(12)">Thriller</a></li>
          </ul>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Rating</button>
      <div class="dropdown-content">
        <ul>
          <li><a (click)="sortFilmByBestRated()">Best Rated</a></li>
          <li><a (click)="sortFilmByRatingCount()">Most Rated</a></li>
        </ul>
    </div>
  </div>

    <div class="dropdown">
      <button class="dropbtn">Year</button>
      <div class="dropdown-content">
        <ul>
          <li><a (click)="sortFilmByYear2023()">2023</a></li>
          <li><a (click)="sortFilmByYear2021_2022()">2021 - 2022</a></li>
          <li><a (click)="sortFilmByYear2010_2020()">2010 - 2020</a></li>
          <li><a (click)="sortFilmByYear2000_2010()">2000 - 2010</a></li>
          <li><a (click)="sortFilmByYear1990_2000()">1990 - 2000</a></li>
          <li><a (click)="sortFilmByYearOlder()">Older</a></li>
        </ul>
      </div>
    </div>

    <div class="pagination" *ngFor="let film of sortedFilms | paginate: { itemsPerPage: pageSize, currentPage: page }">
      <div class="component">
        <div class="film-list">  
          <div class="film img" id="filmBox">
            <img src={{film.picture_url}} (click)="updateSelectedFilm(film.title)" alt="film picture" routerLink="/film">
              <div class="title" >
                <span (click)="updateSelectedFilm(film.title)" routerLink="/film">{{film.title}} ({{film.release_date.substring(0,4)}})</span>
                <p class="info">Director: {{film.director}}</p>
                <p class="info">{{film.summary}}</p>
                <p class="info">Rating: {{(film.total_rating/film.rating_count).toFixed(2)}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>

</html>
