<html>
<head>
    <title>Login stranica</title>
    <link rel="stylesheet" href="login-stranica.component.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="assets/FinalLogo.png" class="logo" routerLink=""/>
            <ul>
                <li><a href="" >Home</a></li>
                <li><a href="">Sort By</a></li>
                <li><a href="">Bookmars</a></li>
                <li><a routerLink="/login">Log In</a></li>
            </ul>  
        </div>

        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn"  (click) = "loginACT()">Log In</button>
                <button type="button" class="toggle-btn" (click) = "registerACT()">Register</button>
            </div>
            <form id="loginID" class="input-group">
                <input type="text" class="input-field" placeholder="Username" required>
                <input type="text" class="input-field" placeholder="Password" required>  
                <button type="submit" class="submit-btn" >Log In</button>         
            </form>
            <form id="registerID" class="input-group" novalidate #form="ngForm" (submit)="onSubmit(form)">
                <input type="text" class="input-field" placeholder="Username" name="username" #Username = "ngModel" [(ngModel)]="service.formData.username" required [class.invalid]="email.invalid && email.touched">
                <input type="email" class="input-field" placeholder="Email" name="email" #email = "ngModel" [(ngModel)]="service.formData.email" required [class.invalid]="email.invalid && email.touched" >
                <input type="password" class="input-field" placeholder="Password" name="password" #Passwprd = "ngModel" [(ngModel)]="service.formData.password" required minlength="4">  
                <button type="submit" class="submit-btn">Register</button>         
            </form>
        </div>
    </div>
 
    
</body>
</html>
