<html>
    <head>
        <link rel="stylesheet" href="unos-stranica.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <div class="container">
            <form>
                <i class="fa-solid fa-film"></i>
        
              <div class="input-group">
                <label>Movie Title</label>
                <input type="text" placeholder="Enter movie title">
              </div>
        
              <div class="input-group">
                <label>Director</label>
                <input type="text" placeholder="Enter director name">
              </div>
        
              <div class="input-group">
                <label>Main Actor</label>
                <input type="text" placeholder="Enter actor name">
              </div>   

              <div class="input-group">
                <label>Release date</label>
                <input type="text" placeholder="YYYY-MM-DD">
              </div>

              <div class="input-group">
                <label>Picture</label>
                <input type="text" placeholder="Picture img link url">
              </div>

              <div class="input-group">
                <label>Trailer</label>
                <input type="text" placeholder="Trailer video link url">
              </div>

              <div class="input-group">
                <label>Genre</label>
                <input type="text" placeholder="Pick a movie genre">
              </div>
        
              <div class="input-group">
                <label>Summary</label>
                <textarea rows="5" placeholder="Enter the summary of the movie"></textarea>
              </div>
        
                <button>ADD MOVIE</button>
           </form>
        </div>
    </body>
</html>
