<div class="jumbotron py-3">
    <h1 class="display-4 text-center">PRIJAVA</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-Login-form></app-Login-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-ligh">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let id of service.list">
                    <td>{{id.username}}</td>
                    <td>{{id.email}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

