<html>
<head>    
    <title>CineMark</title>
    <link rel="stylesheet" href="naslovna-stranica.component.css">
</head>
<body>
    <div class="content">
            <h1>MOVIE REVIEWS</h1>
            <p>See all your favourite movie reviews and leave your own comments!</p>
            <form action="" class="search-bar">
                <input type="text" placeholder="search movie" name="q" id="inputValue">
            </form>
            <div>
                <button type="button" routerLink="/search" (click)="onSearchClick()"><span></span>SEARCH</button>
            </div>
    </div> 
</body>
</html>
