<html>
<head>    <title>CineMark</title>
    <link rel="stylesheet" href="naslovna-stranica.component.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="assets/FinalLogo.png" class="logo"/>
            <ul>
                <li><a href="">Home</a></li>
                <li><a routerLink="/sort">Sort By</a></li>
                <li><a routerLink="/bookmarks">Bookmars</a></li>
                <li><a routerLink="/login">Log In</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>MOVIE REVIEWS</h1>
            <p>See all your favourite movie reviews and leave your own comments!</p>
            <form action="" class="search-bar">
                <input type="text" placeholder="search movie" name="q">
            </form>
            <div>
                <button type="button"><span></span>SEARCH</button>
            </div>
        </div>
 </div>
</body>
</html>
