<router-outlet>
    <body>
    <link rel="stylesheet" href="app.component.css">
    <div class="banner"> 
        <div class="navbar">
            <img src="assets/FinalLogo.png" class="logo" routerLink=""/>
            <ul>
                <li><a href="">Home</a></li>
                <li><a routerLink="/sort">Sort By</a></li>
                <li><a routerLink="/bookmarks">Bookmars</a></li>
                <li><a routerLink="/login">Log In</a></li>
            </ul>
        </div>
    </div>  
</body>
</router-outlet>
 