<router-outlet>
    <body>
    <link rel="stylesheet" href="app.component.css">
    <div class="banner"> 
        <div class="navbar">
            <img src="assets/FinalLogo.png" class="logo" routerLink=""/>
            <ul>
                <li class="nav-item"><a href="">Home</a></li>
                <li class="nav-item"><a routerLink="/sort">Sort By</a></li>
                <li class="nav-item"><a routerLink="/bookmarks">Bookmars</a></li>
                <li class="nav-item">
                    <div *ngIf="isLoggedIn; else isLogOut">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </div>

                    <ng-template #isLogOut>
                        <a class="nav-link" routerLink="/login">Login</a>
                    </ng-template>
                </li>
               
                <li class="nav-item2"*ngIf="isLoggedIn">
                    <a class="nav-link2">{{ username }}</a>
                </li>
            </ul>
        </div>
    </div>  
</body>
</router-outlet>
 